// Overriding evo-core's header rule
.evo-type--header-rule {
  letter-spacing: $evo-base-header-rule-letter-spacing;
  text-transform: $evo-base-header-rule-text-transform;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.no-text-transform {
  text-transform: none;
}

.md-sidenav-content {
  // Temp fix for scroll issue
  overflow: hidden !important;

  // temp fix for sticky footer issue
  min-height: 100vh !important;
}

// Override material font family
md-tab-group {
  font-family: inherit !important;
}

[class^="md-"] {
  font-family: inherit !important;
}

.evo-layout--grid-max-width {
  margin: $grid-max-width-margin;
}

// temp reset for fieldsets
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


// temporary override for icons

.evo-icon {
  /*color: inherit;*/
  font-size: inherit;
}

.evo-text-transform {
	text-transform:uppercase;
}



// IE fixes for Foundation's Flex Grid issues
@media screen\0 {

  // Set width on row and generic div
  .row {
    width:100%;
  }

  // Fix banner min-height issues
  .evo-banner {
    height:$evo-banner-height;
  }
  .evo-notification__icon-left {
    width:60px;
  }

  // Header list style issue
  .header__dropdown {
    list-style-type: none;
  }

  @media (min-width: 0) {
    @for $i from 1 through 12 {
      .small-#{$i} {
        width: 100% / 12 * $i;
        flex:none;
      }
    }
  }

  @media (min-width: 48em) {
    @for $i from 1 through 12 {
      .medium-#{$i} {
        width: 100% / 12 * $i;
        flex:none;
      }
    }
  }

  @media (min-width: 64em) {
    @for $i from 1 through 12 {
      .large-#{$i} {
        width: 100% / 12 * $i;
        flex:none;
      }
    }
  }

}
